<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>InsuranceBrokerManagementSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CustomerOperations</display-name>
    <servlet-name>CustomerOperations</servlet-name>
    <servlet-class>servlets.CustomerOperations</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerOperations</servlet-name>
    <url-pattern>/CustomerOperations</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerServlet</display-name>
    <servlet-name>CustomerServlet</servlet-name>
    <servlet-class>servlets.CustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerServlet</servlet-name>
    <url-pattern>/customers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClaimServlet</display-name>
    <servlet-name>ClaimServlet</servlet-name>
    <servlet-class>servlets.ClaimServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClaimServlet</servlet-name>
    <url-pattern>/approveClaim</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PolicyServlet</display-name>
    <servlet-name>PolicyServlet</servlet-name>
    <servlet-class>servlets.PolicyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PolicyServlet</servlet-name>
    <url-pattern>/PolicyServlet</url-pattern>
  </servlet-mapping>
</web-app>